<%= form_with(model: event) do |form| %>
  <% if event.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
        <% event.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <fieldset class="venue-fields">
    <legend>Venues</legend>
    <%= form.fields_for :venues do |ff| %>
      <div class="field">
        <%= ff.label :content, "Venue Content" %>
        <%= ff.text_area :content  %>
      </div>
    <% end %>
  </fieldset>

  <div>
    <%= form.label :content, style: "display: block" %>
    <%= form.text_area :content %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
